<div class="row">
    <button *ngIf="submit" type="submit" class="waves-effect waves-light btn-flat col s12" name="next" [disabled]="invalidForm"
        style="font-weight: 400; font-family: 'Open Sans', sans-serif; font-size: 18pt; background-color: #E53935; 
        color: #ffffff; text-transform: capitalize;">{{action}}</button>
    <a *ngIf="!submit" [routerLink]="nextRoute" class="waves-effect waves-light btn-flat col s12" 
        style="font-weight: 400; font-family: 'Open Sans', sans-serif; font-size: 18pt; background-color: transparent; 
        color: #ffffff; text-transform: capitalize;">{{action}}</a>
</div>