<div  class="row" [routerLink]="['/payment', merchant.merchantId, colornohash]">
    <div class="col s2" align="center">
        <div style="width: 40px; height: 40px; border-radius: 50%; background-size: cover; text-align: center; 
            padding-top: 7px; font-size: 18px; font-weight: 300; color: white" 
            [style.background]="color"> {{initials}} </div>
    </div>
    <div class="col s7">
        <span style="font-family: 'Open Sans', sans-serif; font-size: 11pt; color: #3d3d3d">
            <b> {{merchant.displayName}} </b>
        </span>
        <br/>
        <span style="font-family: 'Open Sans', sans-serif; font-size: 10pt; color: #808285"> {{merchant.category}} </span>
<!--        <br/>
        <span style="font-size: 12px; text-transform: capitalize;"> {{merchant.locality}} </span>-->
        <br/>
        <span style="font-family: 'Open Sans', sans-serif; font-size: 9pt; color: #808285"> 
            {{merchant.paymentModes}} </span>
    </div>
    <div class="col s3">
        <div *ngIf="merchant.averageRating" class="valign-wrapper">
            <span style="font-family: 'Open Sans', sans-serif; font-size: 10pt; color: #3d3d3d; display: inline">
                <b> {{merchant.averageRating | number : '1.2-2'}} &nbsp; </b>
            </span>
            <img style="display: inline; padding-top: 3px;" src="dist/app/images/star2x.png" />
        </div>
    </div>
    <hr class="col s12" style="margin-top: 15px; height: 2px;border: none;background-color: #EDECEA;color: #EDECEA;"/>
</div>
