<div  class="row" [routerLink]="['/payment', merchant.merchantId, colornohash]">
    <div class="col s2" align="center">
        <div style="width: 40px; height: 40px; border-radius: 50%; background-size: cover; text-align: center; 
            padding-top: 7px; font-size: 18px; font-weight: 300; color: white" 
            [style.background]="color"> {{initials}} </div>
    </div>
    <div class="col s7">
        <span style="font-size: 14px;">
            <b> {{merchant.displayName}} </b>
        </span>
        <br/>
        <span style="font-size: 12px; text-transform: capitalize;"> {{merchant.category}} </span>
        <br/>
        <span style="font-size: 12px; text-transform: capitalize;"> {{merchant.locality}} </span>
        <br/>
        <span style="font-size: 10px; text-transform: capitalize;"> {{merchant.paymentModes}} </span>
    </div>
    <div class="col s3">
        <div *ngIf="merchant.averageRating">
            <span style="font-size: 12px; display: inline">
                <b> {{merchant.averageRating}} </b>
            </span>
            <img style="display: inline;" height="14px;" src="dist/app/images/star.png" />
        </div>
    </div>
</div>