<form (ngSubmit)="onSubmit()" #otpForm="ngForm">
    <header>
        <topnav [showBack] = "showBack" [title] = "title" [backRoute] = "backRoute" [useLogo] = "useLogo"></topnav>
    </header>
    <main>
        <div *ngIf="user">
            <div class="row"></div>
            <div class="row"></div>
            <div class="row">
                <div class="col s12" align="center">
                    <img src="dist/app/images/OTP2x.png" />
                </div>
            </div>
            <div class="row">
                <div class="col s12" align="center" style="font-family: 'Fjalla One', sans-serif; color: #3d3d3d; 
                    text-transform: capitalize; font-size: 16pt;">Verify OTP</div>
                <div class="col s12" align="center" 
                    style="font-weight: 400; font-family: 'Open Sans', sans-serif; color: #5a595c; font-size: 12pt;">
                    Please enter the OTP received via SMS</div>                
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">mode_edit</i>
                    <input id="otp" style="font-family: 'Open Sans', sans-serif; font-size: 12pt;" name="otp" 
                        type="number" class="validate" required [(ngModel)] = "otp">
                    <label for="otp">OTP</label>
                </div>
            </div>
            <div class="row"></div>
            <div class="row" align="center">
                <span style="font-weight: 400; font-family: 'Open Sans', sans-serif; color: #5a595c; font-size: 12pt;"> 
                    <a style="color: #E53935" (click) = "resendOTP()"> <b> Resend OTP </b> </a>
                    to 
                    <span style="font-family: 'Fjalla One', sans-serif; color: #3d3d3d; font-size: 16pt;">
                        {{user.phone}}</span>
                </span>
            </div>
        </div>
    </main>
    <footer [style.background] = "user && otpForm.form.valid ? '#E53935' : '#E2E1DD'"  class="page-footer" align="center">
        <actionbar [nextRoute] = "nextRoute" [action] = "action" [submit] = "submit"
            [invalidForm]="!user || !otpForm.form.valid"></actionbar>
    </footer>
</form>