<header>
    <topnav [showBack] = "showBack" [title] = "title" [backRoute] = "backRoute"></topnav>
</header>
<main>
    <div *ngIf="!hasError">
        <div class="row"></div>
        <div class="row"></div>
        <div class="row"></div>
        <div class="row"></div>
        <div class="row"></div>
        <div class="row"></div>
        <div class="row" align="center">
            <span class="s12"> Registration in progress..... </span>
        </div>
        <div class="row" align="center">
            <span class="s12"> Please do not refresh!!! </span>
        </div>
    </div>
    <div *ngIf="hasError">
        <div class="row"></div>
        <div class="row">
            <div class="col s12" align="center">
                <img src="dist/app/images/fail.png" />
            </div>
        </div>
        <div class="row"></div>
        <div class="row" align="center">
            <span class="s12"> Sorry, you provided wrong OTP. </span>
            <span class="s12"> Please go back to
                <a routerLink="/signup"> Sign-Up </a>
                and re-generate OTP.
            </span>
        </div>
    </div>
</main>
<footer *ngIf="showActionBar" class="page-footer" align="center">
    <actionbar [nextRoute] = "nextRoute" [action] = "action"></actionbar>
</footer>