<header>
    <topnav [showBack] = "showBack" [title] = "title" [backRoute] = "backRoute"></topnav>
</header>
<main>
    <div class="row"></div>
    <div class="row valign-wrapper">
        <div class="col s3" align="right">
            <span style="font-size: 18px;">
                <b>Pay :</b>
            </span>
        </div>
        <div class="col s9 valign-wrapper">
            <div style="width: 60px; height: 60px; border-radius: 50%; background-size: cover; text-align: center; 
                padding-top: 15px; font-size: 22px; font-weight: 300; color: white" [style.background]="color"> {{initials}} </div>
            <div style="font-size: 18px;padding-left:10px;">
                <span>
                    <b> {{merchant.name}} </b>
                </span>
            </div>
        </div>
    </div>
    <div class="row"></div>
    <hr style="height: 5px;border: none;background-color: #EDECEA;color: #EDECEA;">
    <div class="row valign-wrapper">
        <div class="col s1"></div>
        <div class="col s4">
            <span style="font-size: 18px;">
                <b>Amount :</b>
            </span>
        </div>
        <div class="input-field col s7">        
            <span class="prefix" style="color:red; font-size:28px;">₹</span>
            <input id="amount" name="amount" type="number" step="0.01" style="font-size:26px;" class="validate" required [(ngModel)]="amount">
        </div>
    </div>
    <div class="row valign-wrapper">
        <div class="col s1"></div>
        <div class="col s4">
            <span style="font-size: 18px;">
                <b>You Pay :</b>
            </span>
        </div>
        <div class="input-field col s7">        
            <span class="prefix" style="color:red; font-size:28px;">₹</span>
            <input id="amount" name="amount" disabled type="number" style="font-size:26px;color:red;" class="validate" required [(ngModel)]="amount">
        </div>
    </div>
    <div class="row">
        <div class="col s1"></div>
        <div class="col s11">
            <span style="font-size: 18px;">
                <b>Payment Options :</b>
            </span>
        </div>
    </div>
    <div class="row valign-wrapper" [style.background]="creditColor" (click)="selectPaymentType(1)">
        <div class="col s1"></div>
        <div class="col s3">
            <img height="60px;" src="dist/app/images/utilities_grey.png" />
        </div>
        <div class="col s8" align="center">
            <span style="font-size: 18px;">
                <b>Credit Card</b>
            </span>
        </div>    
    </div>
    <div class="row valign-wrapper" [style.background]="debitColor" (click)="selectPaymentType(2)">
        <div class="col s1"></div>
        <div class="col s3">
            <img height="60px;" src="dist/app/images/utilities_grey.png" />        
        </div>
        <div class="col s8" align="center">
            <span style="font-size: 18px;">
                <b>Debit Card</b>
            </span>
        </div>    
    </div>
</main>
<footer style="background-color: #FE2521;" class="page-footer" align="center">
    <actionbar [nextRoute] = "nextRoute" [action] = "action"></actionbar>
</footer>