<form  *ngIf="loaded" (ngSubmit)="onSubmit()" #signupForm="ngForm">
    <header>
        <topnav [showBack] = "showBack" [title] = "title" [backRoute] = "backRoute" [useLogo] = "useLogo"></topnav>
    </header>
    <main>
        <div>
            <div class="row"></div>
            <div class="row"></div>
            <div class="row">
                <div class="col s12" align="center">
                    <img src="dist/app/images/fayda2x.png" />
                </div>
            </div>
            <div class="row">
                <div class="col s12" align="center" style="font-family: 'Fjalla One', sans-serif; color: #3d3d3d; 
                    text-transform: capitalize; font-size: 16pt;">register your mobile no.</div>
                <div class="col s12" align="center" 
                    style="font-weight: 400; font-family: 'Open Sans', sans-serif; color: #5a595c; font-size: 12pt;">
                    You will receive an OTP for verification</div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">mode_edit</i>
                    <input id="phone" style="font-family: 'Open Sans', sans-serif; font-size: 12pt;" name="phone" 
                        type="number" class="validate" min="1000000000" max="9999999999" 
                        oninvalid="setCustomValidity('Please provide a valid 10 digit phone number')" 
                        oninput="setCustomValidity('')" required [(ngModel)]="user.phone">
                    <label for="phone" [ngClass]="{active: user.phone}">+91-</label>
                </div>
                <div class="input-field col s12 m6">
                    <i class="material-icons prefix">mode_edit</i>
                    <input id="first_name" style="font-family: 'Open Sans', sans-serif; font-size: 12pt;" name="first_name" 
                        type="text" maxlength="50" class="validate" required  
                        [(ngModel)]="user.firstName">
                    <label for="first_name" [ngClass]="{active: user.firstName}">Your First Name</label>
                </div>
                <div class="input-field col s12 m6">
                    <i class="material-icons prefix">mode_edit</i>
                    <input id="last_name" style="font-family: 'Open Sans', sans-serif; font-size: 12pt;" name="last_name" 
                        type="text" class="validate" maxlength="50" required  
                        [(ngModel)]="user.lastName">
                    <label for="last_name" [ngClass]="{active: user.lastName}">Your Last Name</label>
                </div>
            </div>
        </div>
    </main>
    <footer [style.background] = "user && signupForm.form.valid ? '#E53935' : '#E2E1DD'"  class="page-footer" align="center">
        <actionbar [nextRoute] = "nextRoute" [action] = "action" [submit] = "submit"
            [invalidForm]="!user || !signupForm.form.valid"></actionbar>
    </footer>
</form>