<nav class="nav-extended" style="font-family: 'Roboto Condensed'; background-color: #FE2521">
    <div class="nav-wrapper">        
        <div class="brand-logo">
            <a href="javascript:void(0)">
                <img src="/app/images/benow.png" style="max-height: 64px; width: auto;"/>
            </a>
        </div>
        <ul class="right">
            <li>&nbsp;</li>
        </ul>
        <i class="left material-icons" *ngIf="showBack" style="margin-left:-50px;" routerLink={{backRoute}}>ic_arrow_back</i>
        <ul class="tabs tabs-transparent">
            <li class="tab">
                <a href="javascript:void(0)" style="color: white; text-transform: none; font-size: 22px;">{{title}}</a>
            </li>
        </ul>
    </div>
</nav>