<nav class="nav-extended" style="font-family: 'Roboto Condensed';">
    <div class="nav-wrapper">
        <div class="brand-logo">
            <a href="javascript:void(0)">
                <img src="/app/images/benow.png" style="max-height: 64px; width: auto;"/>
            </a>
        </div>
        <ul class="right">
            <li>&nbsp;</li>
        </ul>
        <ul class="tabs tabs-transparent">
            <li class="tab">
                <a href="javascript:void(0)" style="color: white; text-transform: none; font-size: 22px;">{{title}}</a>
            </li>
        </ul>
    </div>
</nav>